body{
    background-color: steelblue;
    font-size: 25px;
    line-height: 2;
    color: #fff;
}

.navbar-nav{
    padding-left: 200px;
    margin-left:200px ;
    margin-right: 200px;
}
nav{
    margin-bottom: 30px;
    border: 2px solid white;
}
a:hover{
    color: black;
    text-decoration: none;
}

.heading{
    margin-left: 30px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: black;
    text-decoration: none;
}
.topic{
    text-align: center;
    margin-left: 550px;
    font-size: larger;
}
.qdiv{
    margin-left: 20px;
    padding: 20px;
}
input{
    margin-right: 20px;
}
.b{
    margin-left: 600px;
    margin-bottom: 50px;
}

@media all  and (max-width:500px){
    .navbar-nav{
        padding-left: 0;
        margin-left: 0 ;
        margin-right:  0;
    }
    .topic{
        text-align: center;
        
        font-size: larger;
        margin-left: 100px;
    }
    .b{
        margin-left: 180px;
        margin-bottom: 50px;
        margin-top: 40px;
    }
   

}