body{
    background-color: steelblue;
}


th,td,tr{
    border: 2px solid white;
    border-radius: 5px;

}
th{
    color: #fff;
    text-align: center;
}
td{
    text-align: center;

}

table{
    border: 1px solid black;
    display: inline-block;
    margin:50px 60px;
    border-radius: 10px;
}
nav{
    margin-bottom: 30px;
    border: 2px solid white;
}

input{
    text-align: center;
}

canvas{
    border: 2px solid white;
    background-color: white;
    
}


.inputs{
    padding-left:70px ;
    padding-top: 150px;
}

/*.input1{
    margin-bottom: 10px;
    border-radius: 5px;
}
.input2{
    margin-bottom: 10px;
    border-radius: 5px;

}*/
.input1{
   
    margin-bottom: 5px;
    border-radius: 5px;
}    
.input2{
    margin-bottom: 5px;
    border-radius: 5px;

}
.input3{
    margin-bottom: 20px;
    border-radius: 5px;

}  
.input4{
    
    border-radius: 5px;
    margin-left: 100px;
    margin-bottom: 5px;

}
.input5{
    border-radius: 5px;
    margin-left: 100px;
}
#tablesub{
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.graph{
    padding-top: 225px;
    padding-left: 70px;
}

.topic{
    padding-left: 10px;
}

.navbar-nav{
    padding-left: 200px;
    margin-left:200px ;
    margin-right: 200px;
}

.submitheading{
    color: white;

}
.changegraph{
    color: white;
    padding-right: 20px;

}
.ss{
    margin-left: 100px;
}
.add{
    color: white;
    padding-left: 100px;
}
.bb{
    margin-left: 150px;
    border-radius: 5px;
}
.bbb{
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.packet{
    margin-left: 100px;
    color: white;
    margin-top: 100px;
}



@media all and (max-width:500px){
    /* nav{
        margin-bottom: 0;
    } */
    .submitheading{
        margin-left: 200px;
    }
    .inputs{
        padding-left:0 ;
        padding-top: 0;
    }
    .input1{
        margin-left: 170px;
    }
    .input2{
        margin-left: 170px;
    }
    .bb{
        margin-left: 230px;
        margin-bottom: 30px;
    }
    .graph{
        padding-top: 0;
        padding-left: 200px;
    }
    .changegraph{
        margin-top: 30px;
        margin-bottom: 20px;
    
    }
    .bbb{
        margin-left: 100px;
        margin-top: 25px;
    }
    table{
        margin-left: 100px;
        border-radius: 10px;
    }
    .bb{
        margin-bottom: 50px;
    }
    .bbbb{
        margin-bottom: 50px;

    }
    .ss{
        margin-left: 100px;
        }
    .bb{
        margin-left: 100px;
    }
    


    
}

input{
    text-align: center;
}

.title{
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-decoration-color:black;
    text-decoration-style:double ;
}



